*{
    padding: 0%;
    border: 0%;
    margin: 0%;
    font-family: monospace;
}

.grid{
    display: grid;
    grid-template-columns: 35% 75%;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    margin:  50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex;
}

.grid,div:hover{
    border: 1px solid rgb(199, 199, 199);
}

#yo{
    padding: 15px;
    text-align: left;
    background: #c9d0d3;
}

#info{
    padding: 15px;
}

.byoneta{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 33%;
    margin-right: 33%;
}

.byoneta img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tablaref{
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 35px;
}

.tablatitulo{
    grid-column-start: 1;
    grid-column-end: 6;
    background: rgb(68, 133, 170);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.3em;
}

.tablaheader, .tablainfo{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(223, 223, 223);
}

.tablaheader{
    font-weight: bold;
    font-size: 1.1em;
}
